<div class="error">
    <h1>ERROR</h1>
    <h2>PAGINA NO ENCONTRADA</h2>
    <p>No pudimos encontrar lo que buscas. Verifica que la URL sea correcta.</p>
</div>
<table align="center">
    <tbody>
        <tr>
            <td align="center">
                <img src="https://i.pinimg.com/736x/e0/0c/62/e00c628d83109a800c86a3725cf6a295.jpg" alt="error"
                    srcset="">
            </td>
            <td class="botonInicio">
                <div class="font1">¡Has roto la pagina!</div>
                <a [routerLink]="['/home']">
                    <span>IR AL INICIO</span>
                </a>
            </td>
        </tr>
    </tbody>
</table>
