<header>
    <nav>
        <ul>
            <li class="logo"><a [routerLink]="['/home']" (click)="onHomeClick()">Gestiona tus P.S.L.V</a></li>
            <div class="hea-div" *ngIf="!isLoginPage && !isRegistroPage">
                <li><a [routerLink]="['/novedades']">Nuevos Lanzamientos</a></li>
                <li>
                    <button><a [routerLink]="['/login']" (click)="onLonginClick()">Iniciar Sesion</a></button>
                </li>
                <span class="separador"> | </span><br class="salto-linea">
                <li>
                    <button><a [routerLink]="['/res']" (click)="onRegistroinClick()">Registrarse</a></button>
                </li>
            </div>

            <!-- TODO INICIAR SESION -->
            <div class="iniciar" *ngIf="isRegistroPage">
                <li>¿Ya tienes cuenta?</li>
                <li>
                    <button><a [routerLink]="['login']" (click)="onLonginClick()">Iniciar Sesion</a></button>
                </li>
            </div>
            <!-- TODO PARA REGISTRARSE -->
            <div class="resgistrarse" *ngIf="isLoginPage">
                <li><a [routerLink]="['res']">¿No tienes cuenta?</a></li>
            </div>
        </ul>
    </nav>
</header>
